<div id="my-courses">
    <h3>Sửa bài học</h3>
    <div class="mt-3">
        <form method="POST" action="/admin-lesson/{{lesson._id}}?_method=PATCH">
            <div class="form-group">
                <label for="name">Tên bài học</label>
                <input type="text" class="form-control" value="{{lesson.name}}" name="name">
            </div>
            <div class="form-group">
                <label for="link">Video bài học</label>
                <input type="text" class="form-control" value="{{lesson.link}}" name="link">
            </div>
            <div class="form-group">
                <label for="maTerm">mã phần học</label>
                <input type="text" class="form-control" value="{{lesson.maTerm}}" name="maTerm" readonly>
            </div>
            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
    </div>
</div>