<div id="footer">
            <!-- Footer -->
            <footer class="page-footer font-small teal pt-4">

                <!-- Footer Text -->
                <div class="container-fluid text-center text-md-left">

                    <!-- Grid row -->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">

                            <!-- Content -->
                            <h5 class="text-uppercase font-weight-bold">Ý tưởng thiết kế</h5>
                            <p>Quá trình thiết kết website lấy ý tưởng từ Website: fullstack.edu.vn - Website này đã giúp tôi rất nhiều trong việc rèn luyện lại kiến thức về html,css và kỹ năng lập trình với ngôn ngữ JavaScript.</p>

                        </div>
                        <!-- Grid column -->

                        <hr class="clearfix w-100 d-md-none pb-3">

                        <!-- Grid column -->
                        <div class="col-md-6 mb-md-0 mb-3">

                            <!-- Content -->
                            <h5 class="text-uppercase font-weight-bold">Những điều cần lưu ý</h5>
                            <p>Website này chỉ mang tính chất tham khảo, ôn lại các kiến thức đã học được. Nên video khóa học bạn thấy đều là copy từ nhiều nguồn trên Youtube. Nếu bạn thấy được video của mình tại Website này thì tôi xin lỗi và cảm ơn bạn vì đã cho tôi mượn tạm video để xây dựng Trang này.</p>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row -->

                </div>
                <!-- Footer Text -->

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">Từ Cộng đồng lập trình F8
                    <a href="https://fullstack.edu.vn/"> fullstack.edu.vn</a>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        </div>