<div id="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="header-logo" href="/"><img src="/img/logo/logoheader.png" alt=""></a>
        <a class="navbar-brand" href="/">Trang chủ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Tất cả khóa học</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/roadmap">Lộ trình</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bài viết</a>
                </li>
                <div id="seacrh-header">
                    <i class="ti-search"></i>
                    <input type="text" placeholder="Tìm kiếm khóa học">
                </div>
                <div class="block-search-u">
                    <div id="list-item" class="style-1">
                        {{#each courses}}
                        <a class="course" href="/course/{{this.slug}}">
                            <div class="coures-item">
                                <img src="{{this.img}}" alt="">
                                <p>{{this.name}}</p>
                            </div>
                        </a>
                        {{/each}}

                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>
<script>
    var searchBlock = document.querySelector('.block-search-u')
    var searchInp = document.querySelector('#seacrh-header input');
    var courseEles = document.querySelectorAll('.course');


    function showSearchBlo() {
        searchBlock.classList.add('block-search-a');
    }
    function hidenSearchBlo() {
        searchBlock.classList.remove('block-search-a');
    }

    searchInp.addEventListener('input', function (e) {
        showSearchBlo();

        const txtSearch = e.target.value.trim().toLowerCase();

        courseEles.forEach(item => {
            if (item.innerText.toLowerCase().includes(txtSearch)) {
                item.classList.remove('hide')
            }
            else {
                item.classList.add('hide');
            }
        })

        if (e.target.value == '') {
            hidenSearchBlo();
        }
    })
</script>