<div id="header">
    <div class="nav-left">
        <a href="/" class="i-back" ><i class="ti-angle-left ti-back-home"></i></a>
        <a href="/" class="logo">
            <img src="/img/logo/logoheader.png" alt="">
        </a>
        <h4>{{course.name}}</h4>
    </div>
</div>