<div id="content"
            style="background-image: url(/img/background/backgroundRoadmap.bmp); width: 100%; height: 100%;">
            <!-- BEGin Contentbody -->
            <div class="content-body">

                <div class="content-courses-road">
                    <h1 class="content-h1">Lộ trình học</h1>
                    <p class="content-p">Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học. Ví dụ:
                        Để đi làm với vị
                        trí "Lập trình viên Front-end" bạn nên tập trung vào lộ trình "Front-end".</p>
                </div>


                <!-- BEGIN Card -->
                <div class="content-courses-road">
                    <div class="Road__content">
                        <div class="card">
                            <div class="card-body">
                                <div class="header-card">
                                    <div class="card-form">
                                    <h1 class="card-title">Lộ trình học Front-end</h1>
                                    <p class="card-text">Lập trình viên Front-end là người xây dựng ra giao diện websites. Trong phần này F8 sẽ chia sẻ cho bạn lộ trình để trở thành lập trình viên Front-end nhé.</p>
                                    </div>
                                    <img src="/img/icon/icon-header1.png" alt="" class="header-img">
                                </div>                                
                                
                                <div class="logo-courses">
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/fe1.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/fe2.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/grid.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/js.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/unbuntu.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/react.png" alt="" class="icon-img">
                                    </a>
                                </div>
                                <div class="link-show">
                                    <a href="/roadmap/front-end">Xem chi tiết</a>
                                </div>
                                
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="header-card">
                                    <div class="card-form">
                                    <h1 class="card-title">Lộ trình học Back-end</h1>
                                    <p class="card-text">Trái với Front-end thì lập trình viên Back-end là người làm việc với dữ liệu, công việc thường nặng tính logic hơn. Chúng ta sẽ cùng tìm hiểu thêm về lộ trình học Back-end.</p>
                                    </div>
                                    <img src="/img/icon/icon-header2.png" alt="" class="header-img">
                                </div>                                
                                
                                <div class="logo-courses">
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/fe1.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/js.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/unbuntu.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/nodejs.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/fe2.png" alt="" class="icon-img">
                                    </a>
                                    <a href="" class="logo--link">
                                        <img src="/img/icon/grid.png" alt="" class="icon-img">
                                    </a>
                                </div>
                                <div class="link-show">
                                    <a href="/roadmap/back-end">Xem chi tiết</a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Card -->

                <div class="content-courses-road">
                    <h1 class="content-h1">Tham gia cộng đồng học viên F8 trên Facebook</h1>
                    <p class="content-p">Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham gia hỏi đáp,
                        chia sẻ và hỗ trợ
                        nhau trong quá trình học nhé.
                    </p>
                    <div class="link-show">
                        <a href="https://www.facebook.com/groups/649972919142215">Tham gia nhóm</a>
                    </div>
                </div>
            </div>
            <!-- End Contentbody -->
        </div>