<div id="my-courses">
    <a href="/admin-term/stored/{{course._id}}"><h3>Trở về</h3></a>
    <h3>Đăng học phần</h3>
    <form method="POST" action="/admin-term/{{course.slug}}/store">
        <div class="form-group">
            <label for="name">Tên phần học</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="maKH">Mã khóa học</label>
            <input  type="text" class="form-control" id="maKH" name="maKH" value="{{course._id}}" readonly>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>